th,
td {
  border-right: 1px solid #0c0c0c;
}

th:last-child,
td:last-child {
  border-right: none;
}

input {
  margin-top: 15px;
  border: 2px solid rgb(6, 6, 6);
}
.select_margin {
  margin-top: 15px;
}
